<section class="section" aria-labelledby="timeline-title">
  <div class="timeline-container">
    <h2 id="timeline-title">Timeline</h2>
    <om-timeline
      [orientation]="'switch'"
      [entriesGap]="'2rem'"
      [entryGap]="'1.25rem'"
      [titleGap]="'1rem'"
      [pathWidth]="'4px'"
      [pathColor]="timelinePathColor"
      [gradientColors]="timelineGradientColors"
      styleClass="career-timeline"
    >
      @for (event of events(); track event.period + event.title) {
        <om-timeline-entry>
          <ng-template #timelineTitle>
            <p class="period">{{ event.period }}</p>
          </ng-template>
          <ng-template #timelineContent>
            <article #revealItem class="timeline-item reveal-item">
              <h3>{{ event.title }}</h3>
              <p>{{ event.description }}</p>
            </article>
          </ng-template>
        </om-timeline-entry>
      }
    </om-timeline>
  </div>
</section>
